.container {
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--brand-light-3);
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 32px;
  font-family: var(--font-family-base);
  font-weight: 700;

  & .navigation {
    display: flex;
    gap: 16px;

    &__link {
      font-size: 16px;
      line-height: 24px;
      color: var(--black);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        text-underline-offset: 8px;
        color: var(--brand);
      }

      &_active {
        text-decoration: underline;
        text-underline-offset: 8px;
        color: var(--brand);
      }
    }
  }

  & .cart {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    text-decoration: none;

    &:hover {
      color: var(--brand);
    }
  }
}

.main {
  margin-top: 84px;
}
